* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 20px;
    padding: 20px;
}

.oculto {
    display: none;
}

h1 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}

.botones-principales {
    
}

.botones-calcularYreset {
    
}

