* {
    margin: 0px;
    padding: 0px;
}
.oculto {
    display: none;
}

h1 {
    
    font: bold 20px verdana, sans-serif;
    color: red;
}

div {
    display: block;
}

body {
    text-align: center;
}

#agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: left;
   }




